# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build
build_debug
CMakeLists.txt.user*
install
build/
buildRelease/
*.autosave
vc100
vc110
vc120
vc140
vc141
vc142
.vs
**/bin/*
**/release/*
**/debug/*
**/*.dir
**/*.sdf
**/*.VC.db
**/ipch*
*.suo


